.resultBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 4px double salmon;
    background-color: bisque;
}

.songCard {
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    justify-content: center;
    margin: 15px;
}

audio {
    margin: 0 auto;
    display: block;
}

img {
    width: 100px;
}